
# globals

# user specific

ssh_keys='/Users/[your-user]/.ssh'
ssh_key_gw='/Users/[your-user]/.ssh/candi4k'

default_subnet='10.38.0'

# used in scripts to pass to findSubnets.sh

sn_index='1' # skip localhost
iface='' # scan all ifaces

# used in go.sh, peek.sh, gimme.sh, and dag.sh

user='root'
dest="."

dag_pages=( \
  'Zuul/native' \
  'Zuul/zuulServer?cmd=get_status' \
  'Zuul/zuulServer?cmd=get_labels' \
  'Zuul/zuulServer?cmd=discovery' \
)

# aliasAdder

al_iface="en0"          # Your primary network interface
al_ip="10.37.37.248"    # Preset alias IP for you on another subnet
al_nm="255.255.255.0"   # Standard netmask

echo "this should not be read"

# JIRA settings

proj="CANDI"
browser="Google Chrome"
jira_server="jira.prog.altair.com"
conf_server="confluence.prog.altair.com"
